@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
}
a {
    text-decoration: none;
    transition: 1s;
}
ul {
    list-style: none;

}
header {
    display: flex;
    background-color: #222831;
    justify-content: space-around;
    padding: 1rem 0;
   align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.header_logo {
    color: rgb(7, 199, 7);
    font-weight: bold;
}
 .nav_list {
  display: flex !important;
  align-items: center !important;
 }
 .nav_item {
    margin: 0px 8px;
 }
 .nav_link {
    padding: 10px;
     color: #eeee;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
 }
 .nav_link:hover {
    background-color:  rgb(7, 199, 7);
 }
 .header_toggle,
 .header_close {
     display: none;
 }
 @media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a {
        font-size: 0.9rem;
    }
    logo img {
        width: 30px;
    
    }
    .header_toggle {
        display: inline;
         color: #eeee;
        font-size: 24px;
    }
   .header_close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
   }
   .header_close:hover {
    background-color:  rgb(7, 199, 7);
   }
 .nav {
    position: fixed;
    top: 0;
    right: -100%;  
    background-color: #222831;
    color: #eeee;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
 }
 .nav_list {
    display: flex;
    flex-direction: column;
 }
 .nav_item {
    margin: 2rem 0;
}
.show {
    right: 0;
}
#head {
    background-image: url(../img/mobile.png);
    background-attachment: fixed;
}
 }
.head {
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     width: 100%;
     height: 100vh;
 }

h2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #222831;
}
#head {
    background-image: url(../img/computer.png);
    background-size: cover;
    background-attachment: fixed;
}
.onelink {
    color: rgb(7, 199, 7);
}
span {
    color: rgb(7, 199, 7);
}
form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    transition: 2s;
}
form h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #252525a6;
    font-size: 16px;
    width: 350px;
    color: white;
    border-radius: 15px;
}
form button {
    padding: 15px;
    background-color: #15fd008f;
    color: #fff;
    font-size: 24px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 350px;
    border-radius: 15px;
}
#discord {
    background-image: url(../img/computer2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
@keyframes text {
    0% {color: white;}
    50% {color: #00fd61;}
    100% {color: white}

}
@keyframes span {
    0% {color: #00fd61}
    50% {color: white;}
    100% {color: #00fd61}
}
.prehead {
    animation: span 3s infinite;
}
#head1 {
    animation: text 3s infinite;
}
.textf {
    justify-content: center;
    align-items: center;
}
#contact {
    justify-content: center;
    display: flex;
    background-image: url(../img/leaf.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.footertext {
    background-color: #252525;
    color: azure;
    position: relative;

}
button {
    transition: 2s;
}

input {
    box-shadow: 2px 2px 2px#00fd616c;
}
@media screen and (max-width: 768px) {
    .head {
        font-size: 40px;
    }
}
